ques 1) Create one variable containing following type of data:
     i) string
    ii) list
   iii) float
    iv) tuple


ans

In [2]:
l = [ 2,3,4,5,45.5,"rakesh", True, False, 5+5j]

In [3]:
l

[2, 3, 4, 5, 45.5, 'rakesh', True, False, (5+5j)]

ques 2). Given are some folling variables containing data:


i) var1=''
ii) var2='[DS, ML, Python]'
iii) var3= ['DS', 'ML','Python']
iv) var4 = l

What will be the data type of the above given variable

Ans

In [6]:
var1=''

In [7]:
type(var1)

str

In [9]:
var2='[DS,ML,Python]'

In [10]:
type(var2)

str

In [11]:
var3=['DS','ML','Python']

In [12]:
type(var3)

list

In [14]:
var4=1.

In [16]:
type(var4)

float



Ques 3). Explain the use of the following operators using an example :

    
    i) /
    ii) %
    iii) //
    iv) **


Ans

i)  / - Divison

In [17]:
4/2

2.0

ii) % - Module

In [18]:
5 % 2

1

iii)  // - floor division

In [20]:
10 // 3

3

iv)  ** - Power

In [21]:
4**2

16



Ques 4). Create a list of lengh 10 of your choice containing multiple types of data. using for loop print the element and its data type.

Ans

In [23]:
l = [2,3,4,5,"rakesh","pwskills",23.34,True,False,4+5j]
for i in l :
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'complex'>



Ques 5). Using a while loop, varify if the number A is purely divisible by number B and if so then how many times it can be divisible

Ans

In [1]:
a = int(input())
b = int(input())
c = 0
if a/b==0 :
    while (a/b>=b and type(a/b)==int):
        c+=1
        a/=b
    c
else :
    print("divisible not success")

 45
 23

divisible not success

Ques 6). Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

Ans.

In [10]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
l1 = []
l2 = []
for i in l :
    if i % 3 == 0:
        l1.append(i)
    else:
            l2.append(i)
l1

[3, 6, 9, 12, 15, 18, 21, 24]

In [11]:
l2

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25]

In [12]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]



Ques 7). What do you understand about mutable and immutable data types? Give Examples for both showing this property.


Ans

In [14]:
l = [1,2,3,4,56,67,78]

In [16]:
l[2] = "Skills"

In [17]:
l

[1, 2, 'Skills', 4, 56, 67, 78]

In [18]:
s = "rakesh"

In [20]:
s[3]= 'a'

TypeError: 'str' object does not support item assignment

list is mutable and string is immutable